[submodule "src/dotfiles/.config/kitty/kitty-themes"]
	path = src/dotfiles/.config/kitty/kitty-themes
	url = https://github.com/ryan-way-forks/kitty-themes.git
[submodule "src/dotfiles/.config/qutebrowser/base16-qutebrowser"]
	path = src/dotfiles/.config/qutebrowser/base16-qutebrowser
	url = https://github.com/ryan-way-forks/base16-qutebrowser.git
[submodule "src/dotfiles/.config/rofi/rofi-themes-collection"]
	path = src/dotfiles/.config/rofi/rofi-themes-collection
	url = https://github.com/ryan-way/rofi-themes-collection.git
[submodule "src/dotfiles/.config/background/Void-Wallpapers"]
	path = src/dotfiles/.config/background/Void-Wallpapers
	url = git@github.com:ryan-way-forks/Void-Wallpapers.git
[submodule "src/dotfiles/.config/neofetch/neofetch-themes"]
	path = src/dotfiles/.config/neofetch/neofetch-themes
	url = https://github.com/Chick2D/neofetch-themes/
